/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* HIGHLIGHTS TO MAKE LAYOUT VISIBLE:
1) Add light gray background on whole page
2) Add chocolate border around every div element
*/

body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}


/* GENERAL STYLING
*/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased
}

.content{
	padding: 0 15px;
	margin: 0 auto;
	width:970px;
	height: 70px;
}

a {
	text-decoration: none;
}


/* NAVIGATION BAR STYLING
*/

.topnavigation{
	background-color: #fff;
}

.topnavigation img{
	height: 70px;
  float: left;
}

.topnavlinks li {
	display: inline-block;
}

.topnavlinks {
	float: right;
	margin-top: 20px;
}

.topnavlinks a {
	color: gray;
}

.topnavlinks a:hover {

	color: #000;
}

.topnavlinks .active {
	color: #4c5058;
	font-weight: 600;
}